/* reset rule */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
}


/* navbar */
#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 30px;

    background-color: #0084fd;
    color: white;
}
#navbar .nav-links .fa-solid{
    font-size: 24px;
}
#navbar .nav-links a{
    display: none;
}
/* fine navbar */


/* demo */
#demo{
    background-color: white;
}
#demo .cards{
    margin: 50px 32px 80px;
}

#demo .card{
    margin-bottom: 24px;

    border-radius: 15px;
    background-color: #b5ddff;
}
#demo .card.sml{
    text-align: center;
}
#demo .card.sml p{
    padding: 0px 30px 40px;
}
#demo .card .text-container{
    padding: 34px 28px;
}
#demo .title{
    margin-bottom: 34px;
    font-weight: bold;
    color: #0084fd;
}
.text-container p{
    margin-bottom: 40px;
}
.text-container .btn a{
    padding: 10px 48px;

    border-radius: 50px;

    text-decoration: none;
    color: white;
    background-color: #0084fd;
}
.img-container {
    display: flex;
    justify-content: center;
}
.img-container img{
    width: 200px;
}
#demo .card .fa-solid{
    margin: 30px 0px;
    font-size: 80px;
    color: #0084fd;
}
/* fine demo */









/* planning */
#planning{
    background-color: #9792e4;
}
.app-developement .card{
    height: 600px;
    /* test */

    margin: 22px 32px 60px;

    border-radius: 40px;
    background-color: white;
}

/* test */
.strategic-plane, .app-developement{
    height: 700px;
    border: 1px solid beige;
}
/* test */


/* fine planning */











/* testimonial */
#testimonial{
    margin-bottom: 110px;

    background-color: white;
}

.testimonial-text{
    height: 455px;
    width: 100%;
    /* test */
}

.testimonial-cards .card{
    height: 500px;
    /* test */
    margin: 0px 32px 32px;

    border-radius: 40px;
    background-color: #9792e4;
}
/* fine testimonial */

/* benefit */
#benefit{
    padding-bottom: 64px;

    background-color: #9792e4;
    color: white;
}
.benefit-text{
    text-align: center;
    
    padding: 54px 32px;
}

.benefit-cards .card{
    height: 400px;
    /* test */
    margin: 0px 32px;
    margin-bottom: 32px;

    border-radius: 15px;
    background-color: white;
}
/* fine benefit */

/* about us */
#about-us{
    margin: 0px 32px;
    background-color: white;
}
.about-us-text{
    height: 950px;
    /* test */

    margin-top: 90px;
}.about-us-img{
    height: 450px;
    margin-bottom: 50px;
    background-color: aquamarine
    /* test */
}
/* fine about us */

/* get started */
#get-started{
    height: 600px;
    /* test */

    background-color: #9792e4;
}
/* fine get started */

/* footer */
footer{
    height: 220px;
    /* test */

    background-color: #333333;
}





/* tablet */
@media screen and (min-width: 768px){
    /* navbar */
    #navbar{
        padding: 32px 60px;
    }
    #navbar .logo img{
        width: 160px;
    }
    #navbar .nav-links .fa-solid{
        font-size: 40px;
    }
    /* demo */
    #demo .cards{
        margin: 50px 62px 100px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 46px;
    }
    #demo .card:first-of-type{
        width: calc(100% / 3 * 2);
    }
    #demo .card {
        width: calc(100% / 3 - 46px);

        margin-bottom: 0;
    }
    .img-container {
        justify-content: flex-start;

        margin-left: 20px;
    }
    









    /* planning */
    .app-developement .card{
        height: 1200px;
        /* test */
    
        margin: 44px 64px 0px;
    }
    .strategic-plane, .app-developement{
        height: 1400px;
        /* test */
    }










    /* testimonial */
    #testimonial{
        margin-bottom: 220px;
    }
    .testimonial-text{
        height: 640px;
        /* test */
    }
    .testimonial-cards .card{
        height: 560px;
        /* test */
        margin: 0px 64px 62px;
    }

    /* benefit */
    #benefit{
        padding-bottom: 124px;
    }
    .benefit-text{
        padding: 152px 300px;
    }
    .benefit-cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 64px;
    }
    .benefit-cards .card{
        height: 800px;
        /* test */
        width: calc(50% - 64px - 32px);
        margin: 0;
    }

    /* about us */
    #about-us{
        margin: 0px 64px;
    }
    #about-us .container{
        display: flex;
    }
    .about-us-text{
        height: 950px;
        /* test */
        width: calc(100% / 3 * 2);
        margin-top: 90px;
    }
    .about-us-img{
        width: calc(100% / 3);
        margin-bottom: 0;
    }
    .about-us-img, .about-us-text{
        margin-top: 200px;
    }

    /* get started */
    #get-started{
        height: 1200px;
        /* test */
    }

    /* footer */
    footer{
        height: 440px;
    }
}






/* laptop */
@media screen and (min-width: 992px){
    /* navbar */
    #navbar .nav-links .fa-solid{
        display: none;
    }
    #navbar .nav-links{
        display: flex;
        align-items: center;
        gap: 32px;
    }
    #navbar .nav-links a{
        display: inline;
        text-decoration: none;
        color: white;
    }
    #navbar .nav-links .btn{
        padding: 12px 14px;

        border-radius: 40px;
        background-color: white;
        color: black;
    }
    /* demo */
    #demo .card:first-of-type{
        display: flex;
    }
    .img-container {
        display: flex;
        align-items: flex-end;
        margin-left: 0;
        margin-right: 50px;
    }













    /* planning */
    #planning .container{
        display: flex;
    }
    .app-developement{
        display: flex;
        align-items: flex-end;
    }
    .app-developement .card{
        height: 600px;
        /* test */
        width: 100%;
    
        margin: 44px 64px 200px;
    }
    .strategic-plane, .app-developement{
        height: 1400px;
        /* test */
        width: 50%;
    }











    /* benefit */
    #benefit{
        padding-bottom: 124px;
    }
    .benefit-text{
        padding: 152px 300px;
    }
    .benefit-cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 64px;
    }
    .benefit-cards .card{
        height: 800px;
        /* test */
        width: calc(100% / 3 - 64px - 32px);
        margin: 0;
    }
}